bootstrap/cache/*

storage/app/private/*
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

vendor/
node_modules/

docker/

k8s/

helm/

.git/
.git*

.env*

.editorconfig
.dockerignore

README.md

railway.toml
