/****************************************************************/
/* * Debug */
/****************************************************************/

[class^="container"] {
    border: 5px solid red;
}

.row {
    border: 5px solid blue;
}

.row > [class^="col"] {
    border: 5px solid green;
}

/****************************************************************/
/* * End Debug */
/****************************************************************/
