/* * scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #dedede;
}

::-webkit-scrollbar-thumb {
    background-color: #7c7878;
}
/* * End scrollbar */

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* * Bootstrap */
.form-floating > .form-control {
    height: calc(3rem + calc(var(--bs-border-width) * 2));
    min-height: calc(3rem + calc(var(--bs-border-width) * 2));
    font-size: 0.9rem;
}

.form-floating > label {
    font-size: 0.9rem;
}
/* * End Bootstrap */

/* * Utils */
.fs-09 {
    font-size: 0.9rem !important;
}

.fs-095 {
    font-size: 0.95rem !important;
}

.fs-110 {
    font-size: 1.1rem !important;
}
/* * End Utils */

/* * Header */
.navbar__container {
    display: grid !important;
    grid-template-columns: 1fr 0fr 1fr;
}

.navbar__nav {
    grid-column-start: 1;
    grid-row-start: 1;
}

.navbar__logo {
    grid-column-start: 2;
}

.navbar__buttons {
    grid-column-start: 3;
}

.button-user::after {
    display: none;
}

.button-user__dropdown {
    width: max-content;
    max-width: 50vw;
}

.button-user-dropdown__item {
    font-size: 0.9rem;
}

.button-user-dropdown__item:active {
    background-color: var(--bs-dropdown-link-hover-bg);
}

/* * Desktop */
@media (min-width: 768px) {
    .navbar__btn-plus {
        font-size: 0.9rem;
        border-radius: var(--bs-border-radius-sm) !important;
    }

    .navbar__btn-plus::after {
        content: "Adicionar";
    }
}
/* * End Header */
