.add__label {
    font-size: 0.9rem;
}

.add-image__box {
    border: var(--bs-border-width) dashed var(--bs-border-color);
}

.add-image__preview {
    display: none;
}

.add-image__icon {
    color: gray;
}

.add-image__click-text {
    cursor: pointer;
}

.add__buttons {
    flex-direction: column;
}

/* * Bootstrap */
.form-control {
    font-size: 0.9rem;
}

.form-select {
    font-size: 0.9rem;
}

.form-check {
    font-size: 0.9rem;
}
/* * End Bootstrap */

@media (min-width: 576px) {
    .add__buttons {
        flex-direction: row;
    }
}
